
/* CONTACTS */
#contact {
	color: white;
	padding-top: 5rem;
}

.contact-section form {
	color: black;
	background-color: white;
	min-width: 360px;
	padding: 30px;
	border-radius: 10px;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: .5rem;	
}

.form-group label {
	margin-right: 2rem;
}

input,
textarea { width: 100%;}
